header {
    margin-top: 10px;
    text-align: center;
    background-color: #670f22;
    height: 80px;
}

.TituloP {
    text-align: center;
    margin-top: 10px;
    color: #e3e3d1;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
}

div {
    text-align: center;
}

.Incriptador {
    margin: 0 auto;
    padding: 50px;
    width: 940px;
}

.Incriptador li {
    display: inline-block; /*Alinear los productos en una sola linea segun lo que ocupen*/
    width: 40%; /*Se esta diciendo que los elementos de tipo "li" ocupen un 30% del espacio*/
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box; /*Limita el espacio al que se le asigno en ".productos" de 940px*/
}

.Texto {
    width: 350px;
    height: 400px;
}

.BTN {
    background-color: #670f22;
    color: #e3e3d1;
    text-align: center;
    margin-top: 10px;
    width: 140px;
    height: 50px;
    border-radius: 30px;
    border: none; /* Eliminar el borde de los botones */
    cursor: pointer; /* Cambiar el cursor al pasar sobre los botones */
}

.BTN-container {
    text-align: center; /* Alinear los botones al centro */
    margin-top: 20px; /* Espacio superior para separar los botones del resto de contenido */
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
